* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.app-container {
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border: none;
}

.counterWrapper {
  border-radius: 5px;
  background: rgb(239, 239, 239);
  display: flex;
  font-size: 16px;
  align-items: center;
  height: 35px;
  width: 85px;
  margin: 0 20px 0 5px;
}

.counterWrapper p {
  font-size: 16px;
  font-weight: 900;
}

.counterWrapper button {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 900;
  padding: 6px 12px;
  border: none;
  color: dimgray;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border: none;
}

.CloseButton {
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.CloseButtonModal {
  cursor: pointer;
  color: black;
  font-size: 25px;
  background: none;
  border: none;
}

.modalButtonOne {
  padding: 10px 0;
  margin-left: 10px;
  width: 90px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
}

.modalButtonTwo {
  padding: 10px 0;
  margin-right: 10px;
  background: #300605;
  border-radius: 6px;
  border: none;
  width: 60px;
  color: white;
  font-weight: 700;
}

.containerModal {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWindow {
  z-index: 1;
  position: relative;
  border: none;
  margin: 40px;
  color: white;
  width: auto;
  max-height: 10%;
  background: #e74c3c;
  border-radius: 5px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  background: #d44637;
  font-weight: 700;
  font-size: 16px;
}

.modalContent {
  background: #e74c3c;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.wrapperLoader {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;



  // display: flex;
  // justify-content: center;
  // align-items: center;

}

.loader {
  display: inline-block;
  font-size: 0px;
  padding: 0px;
}

.loader span {
  vertical-align: middle;
  border-radius: 100%;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 2px;
  -webkit-animation: loader 0.8s linear infinite alternate;
  animation: loader 0.8s linear infinite alternate;
}

.loader span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(245, 103, 115, 0.6);
}

.loader span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(245, 103, 115, 0.8);
}

.loader span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: rgba(245, 103, 115, 1);
}

.loader span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(245, 103, 115, 0.8);
}

.loader span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(245, 103, 115, 0.4);
}

@keyframes loader {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

.style-title {
  font-size: 64px;
  text-align: center;
  padding-top: 15%;
}

.containerButton {
  border-radius: 0 0 5px 5px;
  background: #e74c3c;
  text-align: center;
  padding: 20px 0;
}

.cardsWrapper {
  z-index: 0;
  background: white;
  transition: 0.3s;
  position: relative;
  margin: 10px;
  width: 250px;
  padding: 10px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.star {
  display: inline-block;
}

.missingText {
  display: none;
  background: white;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  bottom: 130px;
  right: 85px;
  width: 62px;
}

.img-logo {
  display: inline-block;
  width: 75px;
  height: 75px;
}

.head {
  background: #313131;
}

.head-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.logo {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.link-navigation {
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 35px;
  padding: 30px 0;
}

.hero-navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.link-navigation:hover::before {
  width: 100%;
}
.link-navigation::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 0%;
  height: 2px;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.img-shop {
  width: 55px;
  height: 55px;
  padding: 10px;
  cursor: pointer;
}

.img-shop--red {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  background: #1eacf5;
  border-radius: 50%;
}

.block-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.favContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favCardsWrapper {
  width: 450px;
  background: white;
  display: flex;
  flex-direction: column;
}

.titleHero {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.titleHero:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 2px;
  background: #79f8d7;
}

.titleHero:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  height: 2px;
  background: #79f8d7;
}

.wrapperList {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapperContent {
  display: flex;
  box-sizing: border-box;
  padding: 20px;
}

.phonesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favCardsBlock {
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.favCardsBlock img {
  max-height: 120px;
  max-width: 90px;
  padding-top: 10px;
}

.favCardsBlock a {
  width: 90px;
  height: 25px;
  line-height: 2;
}

.contentTextWrapper {
  padding: 0 15px;
  text-align: left;
}

.favCardsBlock:last-child {
  border: none;
}

.register-form-container {
  background: #1eacf5;
  max-height: 575px;
  opacity: 1;
  position: relative;
  z-index: 1;
  min-width: 260px;
  box-shadow: 0px 6px 50px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  padding: 38px 30px;
  box-sizing: border-box;
}

input {
  width: 100%;
  color: #3b5983;
  font-size: 16px;
  padding: 10px 0;
  border: 2px solid #e9f2ff;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #c1d9fd;
}

.form-title {
  color: #30507d;
  font-weight: 900;
  font-size: 35px;
  line-height: 23px;
  margin-bottom: 38px;
}

.form-field {
  margin-bottom: 13px;
}

.button {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  background: #6c757dc9;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.button:hover {
  transition: 0.2s;
  background-color: #6c757d;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.wrapperForm {
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 16px;
}

/////////////////Carousel Modal/////////////////////////
.slider {
  position: relative;
  width: 80%;
  padding-bottom: 100px;
  height: 500px;
  margin: 0 auto 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-img {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.5s;
  background: white;
}

.slider-img img {
  max-width: 900px;
  height: 500px;
}

.slider-img-prev {
  transform: translateX(-100%);
}

.slider-img-next {
  transform: translateX(100%);
}

.buttonSliderPrev {
  position: absolute;
  left: 0;
  color: white;
  cursor: pointer;
  z-index: 1;
  padding: 20px;
  font-size: 48px;
  border-radius: 4px;
  box-shadow: 9px 9px 6px 3px rgba(34, 60, 80, 0.1);
  transition: 0.5s linear;
}

.buttonSliderPrev:hover {
  transform: scale(1.2);
}

.buttonSliderNext {
  position: absolute;
  right: 0;
  color: white;
  cursor: pointer;
  transition: 0.5s linear;
  padding: 20px;
  font-size: 48px;
  border-radius: 4px;
  box-shadow: -9px 9px 6px 3px rgba(34, 60, 80, 0.1);
}

.buttonSliderNext:hover {
  transform: scale(1.2);
}

//////////////////////////CATEGORIES////////////////////////////////////////

.orange-block {
  background: #f26522;
  position: absolute;
  text-align: left;
  opacity: 0;
  width: 320px;
}

.orange-block-footer {
  background: #f26522;
  position: absolute;
  top: 668px;
  opacity: 0;
  width: 295px;
  padding-left: 5px;
}

.img-tours {
  display: block;
  width: 320px;
  height: 220px;
}

.footer-orange-block {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-card {
  display: inline-block;
  margin: 8px 0 8px 16px;
  font-size: 12px;
  color: white;
}

.cost {
  color: white;
  font-size: 20px;
  margin-left: 16px;
}

.text-orange-block {
  text-decoration: none;
  padding-right: 10px;
  color: white;
  font-size: 15px;
}

.gallery-card-tour {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-card {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin: 15px;
  height: 50px;
}

.cards-tour {
  margin: 20px;
  width: 320px;
  text-align: center;
}

.cards-tour:hover .orange-block {
  opacity: 1;
  transform: translatey(-80px);
  transition-duration: 1.5s;
}

.cards-tour:hover .orange-block-footer {
  opacity: 1;
  transform: translatey(-98px);
  transition: 1.5s;
}

.copyright {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 46px;
}

.diamond {
  fill: #ff0000;
}

//////////////////////////////////////////////footer////////////////////////////
.footer {
  padding: 10px 47px;
  background-color: black;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 8px;
  color: white;
}

.footer-text {
  color: #b9b9b9;
  font-size: 16px;
}

.circle-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  align-items: center;
}

.footer-contact {
  color: #b9b9b9;
  font-size: 16px;

  & a {
    text-decoration: none;
    color: #b9b9b9;
    font-size: 14px;
  }
}

///////////////////////////////////////////////////////////////Information product//////////////////////////
.block-products-card {
  display: flex;
}

.title-products-card {
  font-weight: bold;
  text-align: left;
  padding: 50px;
}

.block-pic-slider {
  display: flex;
}

.block-pic {
  width: 100px;
}

.pic-products {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.pic-products:hover {
  opacity: 0.7;
}

.block-products-text {
  text-align: left;
  max-width: 600px;
}

.products-title {
  font-size: 25px;
  padding-bottom: 20px;
}

.colorDiv {
  width: 20px;
  height: 20px;
  margin: 2px;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid transparent;
}

.colorDiv:hover {
  opacity: 0.5;
}
.color-text {
  color: lightgray;
  margin-bottom: 10px;
}
.color-text span {
  display: inline-block;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.div-color-render {
  display: flex;
}

.text-order-block {
  font-size: 25px;
  -webkit-animation: pulsing 4s infinite;
  animation: pulsing 4s infinite;
  padding: 50px 0;
}

.block-price p {
  display: inline-block;
  font-size: 40px;
  color: wheat;
  padding-bottom: 30px;
}

.inform-message {
  font-size: 54px;
  color: red;
  font-weight: bold;
}

.red-word {
  color: red;
  font-size: 40px;
  font-weight: 700;
}

main {
  padding: 40px 0;
  flex: 1 1 auto;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(185, 185, 185, 0.45);
  padding: 20px;
}

.total-price__text {
  color: white;
  font-weight: 900;
}

.total-price__el {
  color: gold;
  padding-left: 10px;
  font-size: 24px;
}

.hide-block {
  display: none;
}

.filter-message {
  font-size: 30px;
  color: rebeccapurple;
  font-weight: 900;
  text-align: center;
}

.filterForm-wrapper {
  text-align: center;
}

.filterForm {
  width: 250px;
  box-sizing: border-box;
  padding: 20px;
  background: lavender;
}

.filterForm input {
  margin: 10px 0;
}

.filterForm-button {
  background: red;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.filterForm-title {
  margin: 20px;
}

.title-el {
  text-transform: uppercase;
  color: cornflowerblue;
  font-weight: 900;
}

.active-pic {
  max-width: 100%;
}

.podInformation__content {
  padding: 20px;
}

.showButton {
  padding: 5px;
  font-weight: 900;
}

.footer-wrapper--icon {
  list-style: none;
  display: flex;
  justify-content: center;

  li {
    margin: 10px;
  }
  a {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #14b9d5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    position: relative;
    overflow: hidden;

    i {
      font-size: 23px;
      transition: 0.3s ease;
    }
    &:before {
      position: absolute;
      content: '';
      width: 120%;
      height: 120%;
      background-color: #14b9d5;
      left: -110%;
      top: 90%;
      transform: rotate(45deg);
    }
    &:hover {
      i {
        transform: scale(1.3);
        color: #f1f1f1;
      }
      &:before {
        animation-name: hover;
        animation-duration: 0.6s;
        top: -10%;
        left: -10%;
      }
    }
  }
}
@keyframes hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.elementsWrapper {
  display: flex;
  justify-content: space-between;
}
.starsWrapper {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: grid;
  grid-template-columns: repeat(2, 25px);
}
.spanElement {
  padding: 3px 0 0 10px;
  display: inline-block;
  font-weight: bold;
}
.colorBlock {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.colorBlock:hover p {
  display: block;
}
.cardsWrapper__title {
  margin: 5px 0;
  font-weight: 600;
  padding: 10px 0;
}
.cardsWrapper__price {
  margin: 5px 0;
  display: block;
  color: #ff033e;
}
.cardsWrapper__button {
  display: inline-block;
  padding: 15px 20px;
  color: white;
  background: #e9e9e9;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.cardsWrapper__button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0e1734;
  border-radius: 4px;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cardsWrapper__button:hover::before {
  height: 0%;
}

.cardsWrapper__button:hover {
  color: #0e1734;
  transition: 0.3s;
}
.starWrapper {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #cccccc;
}
.cardsWrapper__hide-block {
  font-size: 14px;
  margin: 5px;
  display: none;
}

.cardsWrapper:hover .cardsWrapper__hide-block {
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  margin: 10px 0;
  padding: 5px;
  background: white;
  border: 1px solid #eee;
  border-top: none;
}
.cardsWrapper:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 0.3s;
  box-shadow: none;
}

.cardsWrapper__img {
  max-width: 150px;
  height: 190px;
}
.wrapperButton {
  border: 1px solid transparent;
  margin-right: 15px;
}
.wrapperButtons {
  display: flex;
}
.active-button {
  border: 1px solid green;
  border-radius: 5px;
}
.buttons-wrapper {
  padding-left: 20px;
}
.front {
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
}
.block-active-pic {
  margin-right: 20px;
}
.informationProduct-title {
  text-align: center;
  margin-bottom: 20px;
}
.informationProduct-title span {
  font-size: 45px;
  font-weight: 900;
}
